* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  width: 100%;
  font-size: 15px;
  font-family: 'Source Sans Pro', helvetica, sans-serif; }

.redish .headline {
  color: #E25A5A; }

h1 {
  font-size: 3.25rem;
  line-height: 3.375rem;
  text-align: center;
  font-family: serif; }

h2 {
  font-size: 3.785714286em;
  font-family: serif;
  margin-top: 0;
  text-align: center; }

p {
  line-height: 1.675;
  margin: 0;
  padding: 0; }
  p.subtext {
    font-size: 0.875rem; }
    p.subtext .test {
      display: none; }

button, .bttn {
  margin-top: 1em; }

.bttn.red a, .bttn.wht a {
  background: #E25A5A;
  padding: 1em;
  color: #FFF;
  text-decoration: none;
  border-radius: 2em;
  transition: all 0.3s; }
  .bttn.red a:hover, .bttn.wht a:hover {
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
    background: #E25A5A; }

.bttn.red.bio a {
  padding: 1em 2em;
  font-size: 0.75rem; }

.bttn.wht a {
  background: #FFF;
  color: #59B5E2; }
  .bttn.wht a:hover {
    background: #FFF; }

a.bio {
  opacity: 0.5;
  border-bottom: 1px solid #000;
  font-size: .75rem;
  color: #000; }
  a.bio:hover {
    color: #E25A5A;
    border-bottom: 1px solid #E25A5A;
    cursor: pointer;
    opacity: 1; }

.dr_appt {
  line-height: 2rem;
  opacity: 0.5;
  border-bottom: 1px solid #000;
  font-size: .75rem;
  text-decoration: none; }
  .dr_appt:visited {
    color: #000; }
  .dr_appt:hover {
    color: #E25A5A;
    border-bottom: 1px solid #E25A5A;
    cursor: pointer;
    opacity: 1; }

.header .bttn {
  align-self: center; }

button.md-close {
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px; }
  button.md-close:hover {
    background: #A5281B; }

footer {
  text-align: center;
  font-size: 13px; }
  footer a {
    color: #FFF; }

.section, footer {
  width: 100%;
  background: #FFF; }
  .section h2, footer h2 {
    color: #E25A5A; }
  .section.bluebg, footer.bluebg {
    background: #59B5E2;
    color: #FFF; }
    .section.bluebg h2, footer.bluebg h2 {
      color: #FFF; }
  .section.geometry, footer.geometry {
    background: #59B5E2 url("../images/geometry.png"); }

.content {
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 980px; }

.main {
  text-align: center; }
  .main img {
    width: 800px;
    max-width: 100%; }

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }
  .header .logo {
    max-width: 393px;
    margin: 0 auto; }
    .header .logo img {
      width: 100%; }
  .header .bttn {
    font-size: 14px; }

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between; }
  .flex .column {
    width: 100%;
    margin: 1%; }
    .flex .column:nth-of-type(1) {
      margin-left: 0; }
    .flex .column:nth-of-type(0) {
      margin-right: 0; }

.map {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 2rem; }
  .map .subtext {
    padding-left: 0.5rem; }

.sholrg {
  display: none; }

.shosml {
  display: block; }

.shosml.wht {
  text-align: center; }

.info_practice ul, .info_practice li {
  font-size: .928571429em; }
.info_practice ul {
  font-weight: bold;
  margin: 0 0 1rem 1rem;
  padding: 0 0 0 0; }
.info_practice li {
  font-weight: normal;
  line-height: 1.675; }

.list_doctors {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  -o-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  text-align: center; }
  .list_doctors .doctor {
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    -o-flex-grow: 0;
    flex-grow: 0;
    margin-bottom: 2rem;
    padding: 0.5rem; }
    .list_doctors .doctor img {
      width: 100%;
      margin-bottom: 0.375rem; }
    .list_doctors .doctor p:nth-child(3) {
      padding: 0.375rem 0 0.675rem 0;
      opacity: 0.5; }

.locations {
  margin-top: 2em; }

.benefits {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  -o-flex-flow: wrap;
  flex-flow: wrap; }
  .benefits ul:nth-of-type(1) {
    padding-right: 2rem; }

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: #59B5E2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 0.8;
  visibility: visible; }

/* Content styles */
.md-content {
  background: #FFF;
  position: relative;
  border-radius: 3px;
  margin: 0 auto; }

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px 3px 0 0; }

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em; }

.md-content > div p {
  margin: 0;
  padding: 10px 0; }

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px; }

.md-content > div ul li {
  padding: 5px 0; }

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em; }

.md-effect-3 .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-3 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1; }

@media only screen and (min-width: 340px) {
  .serivces {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row; }
    .serivces ul:nth-of-type(1) {
      padding-right: 2rem; }
    .serivces ul {
      width: 44%; } }
@media only screen and (min-width: 680px) {
  body {
    background: #59B5E2; }

  .content {
    padding: 60px; }

  h1 {
    font-size: 5.25rem;
    line-height: 4.675rem; }

  h2 {
    text-align: left; }

  .header {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between; }
    .header .logo {
      margin: 0; }

  .bttn.red a, .bttn.wht a {
    padding: 1em 2em; }

  .flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between; }
    .flex .column {
      margin: 1%; }
      .flex .column:nth-of-type(1) {
        margin-left: 0; }
      .flex .column:nth-of-type(0) {
        margin-right: 0; }
    .flex .col_70 {
      width: 60%; }
    .flex .col_50 {
      width: 50%; }
    .flex .col_40 {
      width: 40%; }
    .flex .col_30 {
      width: 28%; }

  .sholrg {
    display: block; }

  .shosml {
    display: none; }

  .info_patient {
    margin-bottom: 3rem; }

  .list_doctors {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    text-align: center; }
    .list_doctors .doctor {
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      -ms-flex-grow: 0;
      -o-flex-grow: 0;
      flex-grow: 0;
      padding: 7px; }
      .list_doctors .doctor img {
        width: 100%;
        margin-bottom: 0.375rem; }
      .list_doctors .doctor p:nth-child(3) {
        padding: 0.375rem 0 0.675rem 0;
        opacity: 0.5; }

  .map .mapimg {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    -o-flex-grow: 2;
    flex-grow: 2; }
  .map .subtext {
    padding-left: 0.5rem;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1; }

  p.subtext .test {
    display: block; }

  .md-content h3 {
    font-size: 2.375rem; }

  .md-content > div p {
    font-size: 1rem; }

  .benefits {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row; }
    .benefits ul {
      width: 100%;
      padding-left: 45%; }
      .benefits ul.services {
        background: url("../images/icon_services.png") 0 0 no-repeat; }
      .benefits ul.offices {
        background: url("../images/icon_offices.png") 0 0 no-repeat; } }
@media screen\0 {
  .ieHide {
    display: none; }

  .map {
    width: 50%; }

  .info_referrals .flex {
    display: block; }

  .info_referrals .column {
    display: block;
    margin-left: 0; } }
